<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/scripts/jquery-3.5.1.js"></script>
    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/createPost.js" defer></script>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/createPost.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/#">myStory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#">View Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/timeline">View Your Posts</a>
                </li>
            </ul>
            <span>
                <button class="btn btn-outline-success" id="online-warning" disabled>Online</button>
                <button class="btn btn-outline-danger" id="offline-warning" disabled>Offline</button>
                <button class="btn btn-outline-secondary active" type="button"
                      onclick="window.location.href='createPost'">Submit Post<span class="sr-only">(current)</span></button>
                <button class="btn btn-outline-secondary" type="button"
                        onclick="window.location.href='logout'">Logout</button>
            </span>
        </div>
    </nav>
    <div class="offline_div" id="offline_div" style="display: none">You are offline</div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Create New Post</h3>
            </div>

            <div class="form-group">
                <form name="addStory" method="post" action="/createStory">
                    <textarea class="form-control" name="storyContent" id="storyContent" rows="10"
                              placeholder="Add a story..."></textarea>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload Images</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" multiple id="addFile" accept="image/*">
                            <label class="custom-file-label" for="addFile" id="labelText">Select up to 3 images to attach to
                                your post</label>
                        </div>
<!--                        <video autoplay></video>-->
<!--                        <img src="">-->
<!--                        <canvas style="display:none;"></canvas>-->
                    </div>
                    <div class="alert alert-danger alert-dismissible hide" role="alert" id="tooManyImage"
                         style="display: none">
                        Sorry, you can not attach more than 3 images to each post.
                        <button type="button" class="close" onclick="$('#tooManyImage').hide();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="previewArea"></div>
                    <button id="submitStory" type="submit" style="display: none;"></button>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary" id="submitPost">Submit Post</button>
            </div>
        </div>
        <% if(req.query.disp == 'true') { %>
            <div class="alert alert-success alert-dismissible hide" role="alert" id="success">
                Story successfully added to your timeline.
                <button type="button" class="close" onclick="$('#success').hide();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
        <div class="alert alert-danger alert-dismissible hide" role="alert" id="postError" style="display: none">
            Error. Can not create a story with no content and no attachments.
            <button type="button" class="close" onclick="$('#postError').hide();">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-warning alert-dismissible hide" role="alert" id="postWarning" style="display: none">
            Warning. You are about to create a story with no text.
            <button type="button" class="close" onclick="$('#postWarning').hide();">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="cameraContainer">
            <video id="video"></video>
            <a href="#" id="capture" class="cameraCaptureButton btn btn-info">Take photo</a>
            <canvas id="canvas" width="400" height="300"></canvas>
            <img id="photo" src="https://via.placeholder.com/400x300">
            <a href="#" id="uploadCapturedPhoto" class="uploadPhotoButton btn btn-info">Upload photo</a>
        </div>

        <div class="modal fade" id="imagePreview" role="dialog" aria-labelledby="previewTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="previewTitle">Attachment Preview</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="previewBody">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" onclick="$('#imagePreview').modal('hide');">Close
                        </button>
                        <button type="button" class="btn btn-danger" onclick="removePicture()">Remove Attachment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>